OauthExternalAuthentication/.nuget/NuGet.exe
bin/
OauthExternalAuthentication/OauthExternalAuthentication.csproj.bak
OauthExternalAuthentication/OauthExternalAuthentication.sln.GhostDoc.xml
*.suo
*.cache
OauthExternalAuthentication/obj/Debug/*
packages/
obj/
Sitefinity-External-STS-Integration.rar