<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth.AspNet" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.GoogleOAuth2" version="1.1.2" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.3.4.13329" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Membership.OpenAuth" version="2.0.1" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="ServiceStack.Client.Signed" version="4.0.42" targetFramework="net45" />
  <package id="ServiceStack.Common.Signed" version="4.0.42" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.42" targetFramework="net45" />
  <package id="ServiceStack.Signed" version="4.0.42" targetFramework="net45" />
  <package id="ServiceStack.Text.Signed" version="4.0.42" targetFramework="net45" />
  <package id="StyleCop.MSBuild" version="4.7.49.1" targetFramework="net40" />
  <package id="Telerik.DataAccess.Core" version="2015.2.624.1" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Core" version="8.1.5800.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.ServicesImpl" version="8.1.5800.0" targetFramework="net40" />
</packages>